/* General */
@import url('https://fonts.googleapis.com/css2?family=Wallpoet&display=swap');

:root {
	--bg-color: rgb(199, 159, 26);
	--logo-color: rgb(80, 80, 80);

	--red-1: rgb(10, 6, 6);
	--red-2: rgb(199, 159, 26);

	--green-1: rgb(34, 1, 111);
	--green-2: rgb(4, 46, 66);
	--green-3: rgb(1, 6, 24);

	--blue-1: rgb(136, 47, 6);
	--blue-2: rgb(110, 40, 22);
	--blue-3: rgb(56, 15, 14);

	--bg-default: var(--red-1);
	--cta-default: var(--red-2);

	--bg-session: var(--green-1);
	--cta-session: var(--green-3);
	--bg-session-pause: var(--green-2);
	--cta-session-pause: var(--green-3);

	--bg-break: var(--blue-1);
	--cta-break: var(--blue-3);
	--bg-break-pause: var(--blue-2);
	--cta-break-pause: var(--blue-3);
}
* {
	margin: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	height: 108vh;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background: #232526; 
	background: linear-gradient(
		to right,
		#c59909fb,
		#232526
	); 

	color: rgb(199, 159, 26);
}


code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

i {
	width: 24px;
	height: 22px;
	color: var(--cta-default);
	margin-top: -2px;
}

button {
	cursor: pointer;
	color: #fff;
	text-align: center;
	outline: none;
	border: none;
	background-color: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
}

button:disabled {
	cursor: default;
}

button:disabled i {
	color: var(--text-color2);
}

button.big {
	transform: scale(1.5);
	margin-right: 10px;
}

button.big i {
	font-weight: bold;
}

input {
	background-color: transparent;
	color: var(--text-color1);
	border: none;
	max-width: 100%;
	text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}


.App {
	width: 400px;
	max-width: 100%;
	height: 100vh;
	margin: auto;
	display: flex;
	flex-direction: column;
}

/* Header */
.header {
	width: 100%;
}

.header-container {
	max-width: 100%;
	display: flex;
	margin: auto;
}

.header-logo {
	/* overflow: wrap; */
	border-radius: 10px;
	padding: 10px 0;
	position: relative;
	transform: rotate(-20deg) translateY(50px);
	display: flex;
	align-items: baseline;
	font-size: 1.6rem;
	margin: auto;
	border: none;
	transform: none;
	color: rgb(207, 204, 3);
}

.header-logo .logo-text-first {
	color: #ebebeb;
	font-size: 2rem;
}

/* Main */
.App-main {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	border-radius: 5px;
}

.main-side {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 5px;
	backface-visibility: hidden;
	background-color: var(--bg-default);
	transition: transform .3s ease-in-out;
}

.main-header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 50px 20px 0;
}

.main-header i {
	transform: scale(1.3);
}

.main-front .main-header i {
	font-weight: bold;
}

.main-body {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.min-container {
	width: 90px;
	font-size: 12px;
}

/* main-front */
.main-header-content {
	width: 150px;
	transform: translateY(-5px);
}

.session-label {
	padding: 1px 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.timer-label {
	height: 25px;
	margin: 10px 0;
	font-size: 2rem;
	text-align: center;
}

.timer-time-left {
	font-family: 'Wallpoet', cursive;
	text-align: center;
	font-size: 6rem;
	letter-spacing: 1px;
}

.timer-btn {
	position: relative;
	height: 60px;
	width: 100%;
	padding: 5px 0;
	border-radius: 4px;
	font-size: 1.5rem;
	background-color: var(--cta-default);
}

.timer-btn i {
	color: #fff;
}

/* main-back */
.main-back {
	background-color: var(--bg-default);
}

.main-back .main-header-content {
	text-align: center;
	font-weight: bold;
	width: 120px;
}

.settings {
	display: flex;
	align-items: center;
	font-size: 30px;
}

.settings-label,
.settings-input {
	padding: 5px;
	font-size: 30px;
}

.settings-label {
	width: 130px;
	text-align: left;
}

.settings-action {
	width: 60px;
}

.settings-button {
	text-align: center;
	height: 30px;
	font-weight: bold;
	margin: 10px auto;
	border: 2px solid var(--cta-default);
	background-color: var(--cta-default);
	
	border-radius: 5px;
	transform: scale(1.3);
}

.settings-button i {
	color: #fff;
}

/* Animations and status changes*/
.hide {
	transform: rotateY(180deg);
}

/* Status: session */
.session {
	background-color: var(--bg-session);
}

.session .timer-btn {
	background-color: var(--cta-session);
}

.session .reset-btn i {
	color: var(--cta-session);
}

.session-shadow {
	box-shadow: inset 0px 0px 10px 10px var(--bg-session);
}

/* Status: session-pause */
.session-pause {
	background-color: var(--bg-session-pause);
}

.session-pause .timer-btn {
	background-color: var(--cta-session-pause);
}

.session-pause .reset-btn i {
	color: var(--cta-session-pause);
}

.session-pause-shadow {
	box-shadow: inset 0px 0px 10px 10px var(--bg-session-pause);
}

/* Status: break */
.break {
	background-color: var(--bg-break);
}

.break .i {
	color: var(--cta-break);
}

.break .timer-btn {
	background-color: var(--cta-break);
}

.break .reset-btn i {
	color: var(--cta-break);
}

.break-shadow {
	box-shadow: inset 0px 0px 10px 10px var(--bg-break);
}

/* break-pause */
.break-pause {
	background-color: var(--bg-break-pause);
}

.break-pause .i {
	color: var(--cta-break-pause);
}

.break-pause .timer-btn {
	background-color: var(--cta-break-pause);
}

.break-pause .reset-btn i {
	color: var(--cta-break-pause);
}

.break-pause-shadow {
	box-shadow: inset 0px 0px 10px 10px var(--bg-break-pause);
}

/* Media queries */
@media screen and (min-width: 577px) {
	
	body {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.App {
		margin-top: -50px;
		height: 650px;
	}
	.header {
		background-color: var(--bg-color);
		border-top-right-radius: 5px;
		border-top-left-radius: 5px;
	}

}